.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/find.xml
.idea/sonarIssues.xml
target/
.metadata
.metadata/
.recommenders
.recommenders/
Servers
Servers/
RemoteSystemsTempFiles
RemoteSystemsTempFiles/
.Servers/
npm-debug.log
.settings
.project
.classpath
/bin
bin
bin/